.sidebar-cnt {
  border: 1px solid white;
  height: 100vh;
  width: 200px;
}

.botones-cnt {
  display: flex;
  flex-direction: column;
}

.btn {
  margin: 16px;
  padding: 8px 24px;
  width: 150px; /* Ancho fijo */
  text-align: center; /* Alinea el texto al centro */
  cursor: pointer;
  color: #ffffff; /* Color del texto */
  border: none; /* Sin borde */
  border-radius: 4px; /* Bordes redondeados */
  font-size: 16px; /* Tamaño de fuente */
  font-weight: 400; /* Grosor del texto */
  text-align: center; /* Alineación del texto */
  transition: all 0.3s ease; /* Suavidad en transiciones */
}

/* Estado cuando el cursor pasa sobre el botón */
.btn:hover {
  background-color: #0056b3; /* Color de fondo más oscuro */
  transform: translateY(-2px); /* Eleva un poco el botón */
}

/* Estado cuando se presiona el botón */
.btn:active {
  background-color: #003f7f; /* Fondo aún más oscuro */
  transform: translateY(0); /* Regresa a su posición original */
}

/* Botón deshabilitado */
.btn:disabled {
  background-color: #cccccc; /* Color gris */
  cursor: not-allowed; /* Cambia el cursor */
  opacity: 0.6; /* Botón semi-transparente */
}
